.account-phone-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e2e2;
}
.account-phone-item .edit-button {
    cursor: pointer;
}
.account-phone-item .account-phone-input-holder {
    
}

.account-phone-item .send-code {
    padding: 5px 10px;
    font-size: 9px !important;
}

.account-phone-item .action-holder {
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 100px;
}

.account-phone-item .verified-holder {
    color : rgb(0, 123, 0);
    display: flex;
    width: fit-content;
}

.account-phone-item .verified-holder p {
    font-weight: 600;
    margin-left: 3px;
}

.account-phone-item .verification-code-input-holder {
    margin-left: auto;
    margin-right: 30px;
    width: fit-content;
}
.account-phone-item .verification-code-input-holder input {
    width: 200px;
}