body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.618;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button.unfilled {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 600;
  border-radius: 5px;
}

button.unfilled:hover {
  background-color: black;
  color: white;
}

button.filled {
  background-color: #00C6A2;
  border: 2px solid #00C6A2;
  color: black;
  font-weight: 600;
  border-radius: 5px;
}

button.filled:hover {
  filter: brightness(95%);
}

button:disabled {
  background-color: rgb(206, 206, 206);
  border-color: rgb(206, 206, 206);
  color: rgb(138, 138, 138);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group > label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.input-group > input {
  outline: none;
  border: none;
  border-bottom: 2px solid #00C6A2;
  background-color: rgb(249, 252, 251);
  padding: 0.5rem;
}

h1, h2, h3, h4, h5 {
  color: #313131;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
